body {
  overflow: visible;
  width: 100%;
  height: 100%;
}

li {
  list-style: none;
}

.header {
  height: 90px;
}

.header-logo {
  float: left;
  font-size: 30px;
  padding: 20px 40px;
}

.header-list a {
  float: left;
  font-size: 15px;
  padding: 30px 25px;
}

.header-list li {
  float: left;
  font-size: 15px;
  padding: 30px 25px;
}

.main {
   text-align: center;
   padding: 100px 80px;
}

.copy-container h1 {
  font-family: 'Noto Sans JP', sans-serif;
  text-align: center;
  font-size: 50px;
}

.copy-container h2 {
  font-family: 'Noto Sans JP', sans-serif;
  text-align: center;
  font-size: 25px;
}

